* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #edeff4;
  color: #22232b;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.icon {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: #22232b;
}

.header-container {
  background: #22232b;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

nav {
  padding: 23px 14px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 30px;
}
.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

footer {
  background: #fff;
  margin-left: 60px;
  padding: 70px 90px 80px 90px;
  display: flex;
  flex-direction: column;
}

footer p {
  font-size: 18px;
  color: #3e515b;
}

ul {
  list-style: none;
  display: flex;
}

.info,
.media {
  flex-direction: row;
}

.info {
  gap: 20px;
  margin: 40px 0;
  font-size: 16px;
}

.icon {
  width: 30px;
  height: 30px;
}

.media {
  gap: 10px;
}

.media li {
  border-radius: 10px;
  background-color: #edeff3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

span {
  padding: 10px;
}